/* Initial */
.hide {
  display: none;
}
.active{
  display: block;
}

/* Adjust header -- Make it smaller */
.site-header .wrap {
    padding: 40px 0 10px 0;
}

.site-header .widget-area {
  padding: 0;
}

.top-widget {
  padding: 20px 0;
}

/* Newest Books*/
.sidebar-primary .widget {
  background: #fff;
	color: #111;
	padding: 40px;
	margin-bottom: 40px;
	border-radius: 3px;
}

.share-before:after, .share-after:after {
  display: inline;
}
.sidebar a.button:hover {
  color: #fff;
}

.type-books .entry-meta {
	border-top: none;
	margin: 0;
	padding: 0;
	text-align: right;
}

.post-photo {
  height: 300px;
  width: 100%;
}

/* books CPT archive page */

.post-type-archive-books .book-meta p {
	margin-bottom: 5px;
}

.post-type-archive-books .book-meta .button {
	padding: 8px 15px;
	font-size: 13px;
	letter-spacing: 1px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.post-type-archive-books .cpt-archive-description {
	background: #fff url(images/book-shelf.png) no-repeat right bottom;
}

/* books CPT single pages */

.single-books .book-meta {
	background: #a1d1db;
	color: #111;
	padding: 40px;
	margin-bottom: 40px;
	border-radius: 3px;
}

.single-books .entry-title, .post-type-archive-books .entry-title {
	margin-bottom: 30px;
}

.prev-next-post-links {
	overflow: hidden;
	margin-bottom: 40px;
	clear: both;
}

.previous-post-link {
	float: left;
}

.next-post-link {
	float: right;
}

@media only screen and (max-width: 568px) {

	.type-books .entry-content {
		margin-top: 20px;
	}
}

@media only screen and (max-width: 320px) {

	.type-books .entry-content img.alignleft {
		float: none;
	}

}

/* Search */
/*
toggle Search
---------------------------------------------------------------------------------------------------- */

.hide { display: none;}

li.toggle-search a,
.site-header.dark li.toggle-search a{
  font-size: 0;
  padding: 0;
  position: relative;
  width: 40px;
}

li.toggle-search a:before{
  content: "\f179";
  display: block;
  font-family: "Dashicons";
  font-size: 26px;
  left: 10px;
  position: absolute;
  top: -16px;
  vertical-align: middle;
  width: 33px;
}

li.toggle-search.active a:before{
  content: "\f335";
}

.search-wrap {
  clear: both;
  margin: 0 5px 30px 5px;
  padding: 0 30px;
  text-align: center;
  width: 100%;
}

.search-wrap .search-form input[type="search"]{
  padding: 10px 20px 8px;
  /*border-radius: 5px;*/
}

/* Simple social icon */
.simple-social-icons {
  float: right;
}

/* Subscribe box */
.sidebar-primary .enews-widget {
  background-color: #f7595a;
  color: #fff;
}
.sidebar-primary .enews-widget h4 {
  color: #fff;
}
.sidebar-primary .enews-widget input {
	width: 69%;
}

.sidebar-primary .enews-widget input[type="submit"] {
	width: 29%;
  padding: 17px 4px;
  color: #f7595a;
  font-weight: 700;
  background-color: #fff;
}
.sidebar-primary .enews-widget input[type="submit"]:hover {
  color: #fff;
  background-color: #96595A;
}

/* Custom swiftype auto complete - Make it flat*/
.swiftype-widget .autocomplete {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
  border-radius: 0px;
  border: 0;
}

.swiftype-widget .autocomplete li:first-child {
  border: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
}

.swiftype-widget .autocomplete li.active {
  border: 0px solid #fff;
  background: #3BB0FF;
  -webkit-box-shadow: 0;
  -moz-box-shadow: 0;
  box-shadow: 0;
}
